#navbar {
    padding: 20px;
}

#navbar #logo {
    font-size: 20px;
    margin-right: 2em;
}

#navbar .navbar-menu-item {
    margin-top: 20px;
    margin-right: 5em;
    cursor: pointer;
}

#navbar .navbar-menu-item:hover, #navbar .navbar-menu-item.active {
    color: #6cc24a;
}

#navbar #order-now-button {
    margin: 0;
    height: 10px;
    color: white;
}