#home #page-photo {
    background-image: url("../../../assets/img/people-talking-home.jpg");
    position: relative;
}

#home #home-grabya {
    color: white;
    margin: 0 -50% 0 0;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#home #home-grabya #catch-phrase {
    font-size: 2.5em;
    margin-bottom: 2em;
}

#home #home-grabya button {
    font-size: 1.3em;
    color: white;
    padding: .3em 1em .3em 1em;
}