<div id="home">

    <div id="page-photo">

        <div id="home-grabya" layout="column">

            <span id="catch-phrase">Fitness, as a SuperUser</span>

            <div layout>
                <span flex></span>
                <md-button class="md-warn md-raised">Watch Video</md-button>
                <md-button class="md-warn md-raised">Buy Now $79.95</md-button>
                <span flex></span>
            </div>

        </div>

    </div>

    <div>
        Hello from home
    </div>

</div>